step_functions/bdp_workflow.asl.json
{
  "Comment": "BDP Agent Main Workflow - Detection, Analysis, Remediation",
  "StartAt": "DetectAnomalies",
  "States": {
    "DetectAnomalies": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:bdp-detection",
      "Parameters": {
        "time_range_minutes": 10,
        "severity_threshold": "ERROR"
      },
      "ResultPath": "$.detection",
      "Next": "CheckAnomaliesDetected",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "HandleError"
        }
      ]
    },

    "CheckAnomaliesDetected": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.detection.anomalies_detected",
          "BooleanEquals": true,
          "Next": "AnalyzeRootCause"
        }
      ],
      "Default": "NoAnomaliesFound"
    },

    "NoAnomaliesFound": {
      "Type": "Succeed",
      "Comment": "No anomalies detected, workflow complete"
    },

    "AnalyzeRootCause": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:bdp-analysis",
      "Parameters": {
        "anomalies.$": "$.detection.anomalies",
        "workflow_id.$": "$$.Execution.Id",
        "previous_attempts.$": "$.previous_attempts"
      },
      "ResultPath": "$.analysis",
      "Next": "EvaluateConfidence",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException"],
          "IntervalSeconds": 5,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "HandleError"
        }
      ]
    },

    "EvaluateConfidence": {
      "Type": "Choice",
      "Comment": "All remediation actions require approval before execution",
      "Choices": [
        {
          "Variable": "$.analysis.analysis.confidence",
          "NumericGreaterThanEquals": 0.5,
          "Next": "RequestApproval"
        }
      ],
      "Default": "EscalateToHuman"
    },

    "RequestApproval": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "bdp-approval",
        "Payload": {
          "analysis.$": "$.analysis",
          "taskToken.$": "$$.Task.Token"
        }
      },
      "ResultPath": "$.approval",
      "TimeoutSeconds": 3600,
      "Next": "CheckApprovalResult",
      "Catch": [
        {
          "ErrorEquals": ["States.Timeout"],
          "ResultPath": "$.error",
          "Next": "ApprovalTimeout"
        }
      ]
    },

    "CheckApprovalResult": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.approval.approved",
          "BooleanEquals": true,
          "Next": "ExecuteApprovedRemediation"
        }
      ],
      "Default": "ApprovalRejected"
    },

    "ExecuteApprovedRemediation": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:bdp-action",
      "Parameters": {
        "actions.$": "$.analysis.analysis.recommended_actions",
        "workflow_id.$": "$$.Execution.Id",
        "approved_by.$": "$.approval.approved_by"
      },
      "ResultPath": "$.remediation",
      "Next": "ReflectOnResult"
    },

    "ReflectOnResult": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:bdp-analysis",
      "Parameters": {
        "mode": "reflection",
        "remediation_result.$": "$.remediation",
        "original_analysis.$": "$.analysis"
      },
      "ResultPath": "$.reflection",
      "Next": "CheckReflectionResult"
    },

    "CheckReflectionResult": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.reflection.success",
          "BooleanEquals": true,
          "Next": "WorkflowSuccess"
        },
        {
          "Variable": "$.reflection.requires_replan",
          "BooleanEquals": true,
          "Next": "CheckReplanAttempts"
        }
      ],
      "Default": "WorkflowSuccess"
    },

    "CheckReplanAttempts": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.replan_count",
          "NumericLessThan": 3,
          "Next": "IncrementReplanCount"
        }
      ],
      "Default": "MaxReplansReached"
    },

    "IncrementReplanCount": {
      "Type": "Pass",
      "Parameters": {
        "replan_count.$": "States.MathAdd($.replan_count, 1)",
        "previous_attempts.$": "States.Array($.analysis)"
      },
      "ResultPath": "$",
      "Next": "AnalyzeRootCause"
    },

    "MaxReplansReached": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:bdp-notification",
      "Parameters": {
        "type": "ESCALATION",
        "reason": "Maximum replan attempts reached",
        "workflow_id.$": "$$.Execution.Id",
        "context.$": "$"
      },
      "Next": "EscalateToHuman"
    },

    "EscalateToHuman": {
      "Type": "Task",
      "Resource": "arn:aws:events:::event-bus/default",
      "Parameters": {
        "Entries": [
          {
            "Source": "cd1-agent",
            "DetailType": "ESCALATION_REQUIRED",
            "Detail": {
              "workflow_id.$": "$$.Execution.Id",
              "reason": "Low confidence analysis requires human review",
              "analysis.$": "$.analysis"
            }
          }
        ]
      },
      "Next": "WorkflowEscalated"
    },

    "WorkflowSuccess": {
      "Type": "Task",
      "Resource": "arn:aws:events:::event-bus/default",
      "Parameters": {
        "Entries": [
          {
            "Source": "cd1-agent",
            "DetailType": "REMEDIATION_SUCCESS",
            "Detail": {
              "workflow_id.$": "$$.Execution.Id",
              "summary.$": "$.reflection"
            }
          }
        ]
      },
      "Next": "Success"
    },

    "Success": {
      "Type": "Succeed"
    },

    "WorkflowEscalated": {
      "Type": "Succeed",
      "Comment": "Workflow escalated to human review"
    },

    "ApprovalRejected": {
      "Type": "Succeed",
      "Comment": "Remediation rejected by approver"
    },

    "ApprovalTimeout": {
      "Type": "Task",
      "Resource": "arn:aws:events:::event-bus/default",
      "Parameters": {
        "Entries": [
          {
            "Source": "cd1-agent",
            "DetailType": "APPROVAL_TIMEOUT",
            "Detail": {
              "workflow_id.$": "$$.Execution.Id"
            }
          }
        ]
      },
      "Next": "WorkflowEscalated"
    },

    "HandleError": {
      "Type": "Task",
      "Resource": "arn:aws:events:::event-bus/default",
      "Parameters": {
        "Entries": [
          {
            "Source": "cd1-agent",
            "DetailType": "WORKFLOW_ERROR",
            "Detail": {
              "workflow_id.$": "$$.Execution.Id",
              "error.$": "$.error"
            }
          }
        ]
      },
      "Next": "WorkflowFailed"
    },

    "HandleRemediationError": {
      "Type": "Task",
      "Resource": "arn:aws:events:::event-bus/default",
      "Parameters": {
        "Entries": [
          {
            "Source": "cd1-agent",
            "DetailType": "REMEDIATION_ERROR",
            "Detail": {
              "workflow_id.$": "$$.Execution.Id",
              "error.$": "$.error"
            }
          }
        ]
      },
      "Next": "CheckReplanAttempts"
    },

    "WorkflowFailed": {
      "Type": "Fail",
      "Error": "WorkflowError",
      "Cause": "Workflow failed due to unrecoverable error"
    }
  }
}
